.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-bottom: 0.5px solid #DDDDDD;
}

.header a {
  color: #000000;
  font-size: 1em;
}

.main-logo-container {
  width: 80px;
  height: 70%;
  margin-left: 1em;
}

.main-logo-container img {
  width: 100%;
  height: 100%;
}

.h {
  font-size: 5em;
}