@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
    margin-top:5rem;
    height:90%;
    background-color: white;
}
main{
    height:800px;
    background: #F8F8F8;
}

.menu-title-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    background-color: white;
    height:7rem;
}

.menu-title{
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.order-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.order-box{
    width:90%;
    margin-top : 2rem;
    display: flex;
    padding: 1.25rem 0rem;
    justify-content: center;
    gap: 7rem;
    border-radius: 0.625rem;
    background: #FFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
}

.order-box-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
}
.order-date{
    color: #000;
    font-family: Pretendard;
    font-size: 0.75rem;
    font-weight: 400;
}
.order-price{
    color: #000;
    text-align: right;
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.order-box-right{
    text-align:right;
}
.order-number{
    color: #000;
    font-family: Pretendard;
    font-size: 0.75rem;
    font-weight: 400;
}
.order-detail{
    color: #000;
    text-align: right;
    font-family: Pretendard;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 1.05rem;
}
.item-image{
    width: 2.5rem;
    height: 2.5rem;
}
