@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.container {
    font-family: 'Pretendard-Regular';
    margin-top: 70px;
    height: 100vh;
}

.title {
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 100px auto 3rem auto;
}

.receipt-container {
    width: 90%;
    margin: 70px auto 0;
}

.receipt-header {
    width: 100%;
    display: flex;
    font-size: 1em;
}

.receipt-header p:nth-child(1) {
    width: 60%;
}

.receipt-header p:nth-child(2) {
    width: 10%;
    text-align: center;
}

.receipt-header p:nth-child(3) {
    width: 30%;
    text-align: right;
}

.receipt-divider {
    height: 1px;
    margin: 1em 0;
    border: 0;
    background-color: #000000;
}

.product {
    width: 100%;
    padding: 0.8em 0;
    display: flex;
}

.product-name {
    width: 60%;
}

.product-quantity {
    width: 10%;
    text-align: center;
}

.product-price {
    width: 30%;
    text-align: right;
}

.total-price-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-price-container h1,
.total-price-container p {
    font-size: 1.2em;
    font-weight: 700;
}

.home-btn {
    width: 90%;
    display: flex;
    padding: 0.75rem 7.75rem;
    margin: 4rem auto;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    background: #000;
    border: none;   
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;        
}

.home-btn:hover {
    display: flex;
    padding: 0.75rem 7.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    background: #D92B3A;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;        
}